<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <title>Adsortion model graphs</title>
</head>

<body>
    <h1>Adsorption kinetic model data upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file for kinetic models:</label>
        <input type="file" id="file" name="file" accept="*" />
        <label for="Kinetic_model">Choose kinetic models</label>
        <select name="Kinetic_model" multiple>
            <option value="First-order model" >First order model</option>
            <option value="Second-order model">Seconde order model</option>
            <option value="Nth-order model">Nth order model</option>
            <option value="Intra-diffusion model">Intra diffusion model</option>
        </select>
        <br><br>
        <label for="file2">Choose a file for isotherm models:</label>
        <input type="file" id="file2" name="file2" accept="*" />
        <label for="Kinetic_model">Choose kinetic models</label>
        <select name="isotherm_model" multiple>
            <option value="Langmuir" >Langmuir model</option>
            <option value="Frue">Frue model</option>
        </select>
        <br><br>
        <button type="submit">Submit</button>
        <br><br>
    </form>
  
    <h1>Adsorption kinetic model graphs</h1>
    <img src="{{url_for('static', filename='images/First-order model.png')}}">
    <img src="{{url_for('static', filename='images/Second-order model.png')}}">
    <img src="{{url_for('static', filename='images/Nth-order model.png')}}">
    <img src="{{url_for('static', filename='images/Intra-diffusion model.png')}}">
    <h1>Adsorption isotherm model graphs</h1>
    <img src="{{url_for('static', filename='images/Langmuir.png')}}">
    <img src="{{url_for('static', filename='images/Frue.png')}}">
</body>

</html>