<!DOCTYPE html>
<html lang="en">

<head>
    <title>Adsortion model graphs</title>
</head>

<body>
    <h1>Adsorption kinetic model graphs</h1>
    <img src="{{url_for('static', filename='images/First-order model.png')}}">
    <img src="{{url_for('static', filename='images/Second-order model.png')}}">
    <img src="{{url_for('static', filename='images/Nth-order model.png')}}">
    <img src="{{url_for('static', filename='images/Intra-Diffusion model.png')}}">
    <h1>Adsorption isotherm model graphs</h1>
    <img src="{{url_for('static', filename='images/Langmuir.png')}}">
    <img src="{{url_for('static', filename='images/Frue.png')}}">
</body>

</html>